# NExtSEEK API credentials
NEXTSEEK_USERNAME=
NEXTSEEK_PASSWORD=
# OR token auth:
# NEXTSEEK_TOKEN=

# MIT BMC Luria SMB (for sequencing pulls)
MIT_USER=cdemu@mit.edu
MIT_PASS=
MIT_DOMAIN=MIT.EDU
SMB_HOST=bmc-pub14.mit.edu
SMB_SHARE=engelward

# NCFTP for GEO submissions
NCFTP_HOST=ftp-private.ncbi.nlm.nih.gov
NCFTP_USER=geoftp
NCFTP_PASS=

# FairDomHub API
FDH_API=
